<table class="list">
    <thead>
        <tr>
            <th>氏名</th>
            <th>診察科</th>
            <th>時間</th>
        </tr>
    </thead>
    <tbody id="post">
    <% periods.each do |period| %>
      <tr>
        <td><%= current_account.name %></td>
        <td><%= period.doctor.department.name%></td>
        <td><%= period.time %></td>
      </tr>
    <% end %>
    </tbody>
</table>